*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fD88MHxwaG90by1wYWd1fHz8fGVufDB8fHx8&auto=format&fir=crop&w=1517&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header{
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #ffffff37;
  padding: 50px;
}
 nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
 }

 nav li{
    background-color: orange;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
 }

 nav li:hover{
    scale: 1.05;
    color: white;
    text-decoration: none;
 }

 nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

nav a:hover {
    color: white
}

h1, h2, h3{
    padding: 10px;
}
ul{
    list-style: none;
}

.bio{
    color: white;
    width: 50%;
    text-align: center;
    margin: 30px 0px;
    display: block;
    float: left;
    background-color: blue;
    height: 100vh;
}

aside{
    background-color: black;
    margin: 0 auto;
    width: 30%;
    float: left;
    margin: 50px;
}

.about_main{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    text-align: justify;
}

