*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fD88MHxwaG90by1wYWd1fHz8fGVufDB8fHx8&auto=format&fir=crop&w=1517&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header{
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #ffffff37;
  padding: 50px;
}
 nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
 }

 nav li{
    background-color: orange;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
 }

 nav li:hover{
    scale: 1.05;
    color: white;
    text-decoration: none;
 }

 nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

nav a:hover {
    color: white
}

h1, h2, h3{
    padding: 10px;
}
ul{
    list-style: none;
}

.contact_page{
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

/* form  */

.form {
	display: block;
	width: 50%;
	background-color: #e4ecf1;
	margin: 20px auto;
	padding: 20px;
	border-radius: 8px;
}

fieldset {
	border: none;
}

input[type="text"],
input[type="email"], textarea{
	background-color: #fff;
	color: #444;
	border: none;
	border-radius: 4px;
	margin: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;
}

input:focus,
textarea:focus,
{
	outline: 3px solid black;
}

input[type="button"] {
	background-color: orange;
	color: #fff;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	width: 30%;
	margin-bottom: 25px;
}

input[type="button"]:hover{
    scale: 1.05;
    cursor: pointer;
}