*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fD88MHxwaG90by1wYWd1fHz8fGVufDB8fHx8&auto=format&fir=crop&w=1517&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header{
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #ffffff37;
  padding: 50px;
}
h1, h2, h3{
    padding: 10px;
}
ul{
    list-style: none;
}

li{
    width: 30%;
    border: 2em solid azure;
    border-radius: 10px;
    text-decoration: none;
    padding: 2.5rem;
    font-weight: bolder;
    background: linear-gradient(45deg, rgba(193,193,193,1) 0%, rgba(255,201,165,1) 47%, rgba(0,212,255,1) 100%);
    margin-bottom: 20px;
    margin: 2em auto;
}

li:hover {
    background: linear-gradient(45deg, rgb(253, 196, 196) 0%, rgb(255, 165, 237) 47%, rgb(4, 255, 0));
    border-bottom: 2em double green;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
    color: black;
}

main {
    width: 60%;
    padding: 30px;
    text-align: center;
    color: #fff;
    padding-bottom: 100px;
    margin: 0 auto;
}

.video{
    padding: 50px;
}

