section{
    width: 25vw;
    height: 50vh;
    margin: 2em auto;
}
h2{
    text-align: center;
    color: darkkhaki;
}
.japan{
    border: 1px outset black;
    background: radial-gradient(red 30%, white 30%);
}
.germany{
    background: linear-gradient(black 33.3%, red 33.3%, red 66.6%, yellow 66.6%)
}
.gabon{
    background: linear-gradient(green 33.3%, yellow 33.3%, yellow 66.6%, blue 66.6%)
}
.nigeria{
    background: linear-gradient(90deg, green 33.3%, white 33.3%, white 66.6%, green 66.6%)
}
.france{
    background: linear-gradient(90deg, blue 33.3%, white 33.3%, white 66.6%, red 66.6%)
}
.gambia{
    background: linear-gradient( red 33.3%, white 33.3%, white 38.3%, blue 38.3%, blue 61.6%, white 61.6%, white 66.6%, green 66.6%)
}
.belgium{
    background: linear-gradient(90deg, black 33.3%, yellow 33.3%, yellow 66.6%, red 66.6%)
}

.china{
    background-image: url(/media/star.png), url(/media/star.png), url(/media/star.png), url(/media/star.png), url(/media/star.png), url(/media/red.jpg);
    background-repeat: no-repeat;
    background-size: 140px, 30px, 30px, 30px, 30px, cover;
    background-position: 30px 30px, 190px 30px, 220px 80px, 210px 130px, 180px 180px, center;
}

.africa{
border-top: 10px dashed rgb(255, 0, 191);
border-bottom: 10px dashed rgb(255, 0, 191);
}
.other{
border-left: 10px dashed rgb(255, 0, 191);
border-right: 10px dashed rgb(255, 0, 191);
}