        
    @media screen and (max-width:480px) {
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            --text-color: rgb(20, 20, 20);
            --hover-color: #BE3455;
        }
        
        nav { 
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1em;
            font-size: smaller;
        }
        
        nav ul{
            margin-top: 1em;
            list-style-type: none;
            display: flex;
            font-size: smaller;
        }
        
        nav li{
            /* padding: 10px; */
            border-radius: 10px;
            /* margin: 4px; */
        }
        
        nav a{
            margin: 5px;
            text-decoration: none;
            /* padding: 10px; */
        }
        
        a{
            text-decoration: none;
            color: black;
        }
        
        li a:hover{
            background-color: var(--hover-color);
            color: white;
            border-radius: 10px;
            padding: 10px;
            scale: 1.05;
            transition: all 10ms linear;
        }
        
        .container{
            width: 70%;
            text-align: center;
            margin: 0 auto;
            padding: 3em;
        }
        
        .container p{
            color: rgb(115, 115, 115);
            padding: 1em;
            text-align: center;
            line-height: 2em;
            font-size: smaller;
        }
        .container h1{
            font-weight: bolder;
            font-size: large;
        }
        
        .btn{
            background-color: black;
            color: white;
            border: none;
            margin-top: 25px;
            padding: 1em 2em;
            border-radius: 0.5em;
            /* text-transform: uppercase;
            font-weight: bold; */
        }
        
        .btn:hover{
            background-color: var(--hover-color);
            cursor: pointer;
            transition: all 5ms;
        }
        
        .main > *{
            background-color: #eeeeee;
            height: 30vh;
            /* width: 95%; */
            /* margin: 0 auto; */
            text-align: center;
            border-radius: 1em;
        }
        
        .main {
            display: grid;
            margin: 0 10px;
            grid-template-columns: repeat (1, 1fr);
            grid-template-rows: repeat (10, 1fr);
            gap: 0.5em;
            grid-template-areas: "a" "b" "c" "d" "e"
                                "f" "g" "h" "i" "j";
        }
        
        .main > :nth-child(1){
            grid-area: a;
            background-image: url(../media/html_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(2){
            grid-area: b;
            background-image: url(../media/css_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .main > :nth-child(3){
            grid-area: c;
            background-image: url(../media/html_ass.png);
            background-blend-mode: difference;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(4){
            grid-area: d;
            background-image: url(../media/react.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(5){
            grid-area: e;
            background-image: url(../media/tailwind_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(6){
            grid-area: f;
            background-image: url(../media/js_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(7){
            grid-area: g;
            
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(8){
            grid-area: h;
            background-image: url(../media/nodejs.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(9){
            grid-area: i;
            background-image: url(../media/jquery.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(10){
            grid-area: j;
            background-image: url(../media/angular.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        
        .footer{
            background-color: #e9e9e931;
            padding: 1em;
            text-align: center;
            margin: 5px;
            font-size: smaller;
        }
        
        .sect1:hover {
            background-image: url(../media/html_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect2:hover {
            background-image: url(../media/css_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect3:hover {
            background-image: url(../media/html_ass.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect4:hover {
            background-image: url(../media/react.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect5:hover {
            background-image: url(../media/tailwind_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect6:hover {
            background-image: url(../media/js_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect7:hover {
            background-image: url(../media/react.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect8:hover {
            background-image: url(../media/nodejs.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect9:hover {
            background-image: url(../media/jquery.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect10:hover {
            background-image: url(../media/angular.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }

    


    }

    @media only screen and (min-width: 480px) and (max-width: 768px){
       
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            --text-color: rgb(20, 20, 20);
            --hover-color: #BE3455;
        }
        
        nav {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 24px;
        }
        
        nav ul{
            list-style-type: none;
            display: flex;
        }
        
        nav li{
            padding: 5px;
            border-radius: 10px;
        }
        
        nav a{
            margin: 3px;
            text-decoration: none;
            padding: 5px;
        }
        
        a{
            text-decoration: none;
            color: black;
        }
        
        li a:hover{
            background-color: var(--hover-color);
            color: white;
            border-radius: 10px;
            padding: 10px;
            scale: 1.03;
            transition: all 10ms linear;
        }
        
        .container{
            width: 90%;
            text-align: center;
            margin: 0 auto;
            padding: 3em;
        }
        
        .container p{
            color: rgb(115, 115, 115);
            padding: 2em;
            text-align: center;
            line-height: 2em;
            font-size: small;
        }
        .container h1{
            font-weight: bolder;
            /* font-size: larger; */
        }
        
        .btn{
            background-color: black;
            color: white;
            border: none;
            margin-top: 40px;
            padding: 1em 2em;
            border-radius: 0.5em;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .btn:hover{
            background-color: var(--hover-color);
            cursor: pointer;
            transition: all 5ms;
        }
        
        .main > *{
            background-color: #eeeeee;
            height: 45vh;
            text-align: center;
            border-radius: 1em;
        }
        
        .main {
            display: grid;
            margin: 0 10px;
            grid-template-columns: repeat (5, 1fr);
            grid-template-rows: repeat (2, 1fr);
            gap: 0.6em;
            grid-template-areas: "a b"
                                 "c d"
                                 "e f"
                                "g h"
                                "i j";
        }
        
        .main > :nth-child(1){
            grid-area: a;
            background-image: url(../media/html_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(2){
            grid-area: b;
            background-image: url(../media/css_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .main > :nth-child(3){
            grid-area: c;
            background-image: url(../media/html_ass.png);
            background-blend-mode: difference;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(4){
            grid-area: d;
            background-image: url(../media/react.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(5){
            grid-area: e;
            background-image: url(../media/tailwind_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(6){
            grid-area: f;
            background-image: url(../media/js_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(7){
            grid-area: g;
            
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(8){
            grid-area: h;
            background-image: url(../media/nodejs.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(9){
            grid-area: i;
            background-image: url(../media/jquery.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(10){
            grid-area: j;
            background-image: url(../media/angular.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        
        .footer{
            background-color: #e9e9e931;
            padding: 2em;
            text-align: center;
            margin: 10px;
        }
        
        .sect1:hover {
            background-image: url(../media/html_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect2:hover {
            background-image: url(../media/css_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect3:hover {
            background-image: url(../media/html_ass.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect4:hover {
            background-image: url(../media/react.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect5:hover {
            background-image: url(../media/tailwind_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect6:hover {
            background-image: url(../media/js_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect7:hover {
            background-image: url(../media/react.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect8:hover {
            background-image: url(../media/nodejs.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect9:hover {
            background-image: url(../media/jquery.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect10:hover {
            background-image: url(../media/angular.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }

    

    }

    @media only screen and (min-width: 768px) and (max-width: 1200px){
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            --text-color: rgb(20, 20, 20);
            --hover-color: #BE3455;
        }
        
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
        }
        
        nav ul{
            list-style-type: none;
            display: flex;
        }
        
        nav li{
            padding: 6px;
            border-radius: 10px;
            margin: 1px;
        }
        
        nav a{
            margin: 7px;
            text-decoration: none;
            padding: 7px;
        }
        
        a{
            text-decoration: none;
            color: black;
        }
        
        li a:hover{
            background-color: var(--hover-color);
            color: white;
            border-radius: 10px;
            padding: 10px;
            scale: 1.05;
            transition: all 10ms linear;
        }
        
        .container{
            width: 80%;
            text-align: center;
            margin: 0 auto;
            padding: 3em;
        }
        
        .container p{
            color: rgb(115, 115, 115);
            padding: 2em;
            text-align: center;
            line-height: 2em;
        }
        .container h1{
            font-weight: bolder;
        }
        
        .btn{
            background-color: black;
            color: white;
            border: none;
            margin-top: 50px;
            padding: 1.5em 3em;
            border-radius: 1em;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .btn:hover{
            background-color: var(--hover-color);
            cursor: pointer;
            transition: all 5ms;
        }

        .footer{
            background-color: #e9e9e931;
            padding: 2em;
            text-align: center;
            margin: 10px;
        }
        
        .main > *{
            background-color: #eeeeee;
            height: 45vh;
            text-align: center;
            border-radius: 1em;
        }
        
        .main {
            display: grid;
            grid-template-columns: repeat(3, 3fr);
            grid-template-rows: repeat(4, 4fr);
            gap: 0.6em;
            grid-template-areas: "a b c" "d e f" "g h i" "j j j";

        }
        
        .main > :nth-child(1){
            grid-area: a;
            background-image: url(../media/html_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .main > :nth-child(2){
            grid-area: b;
            background-image: url(../media/css_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .main > :nth-child(3){
            grid-area: c;
            background-image: url(../media/html_ass.png);
            background-blend-mode: difference;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .main > :nth-child(4){
            grid-area: d;
            background-image: url(../media/react.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .main > :nth-child(5){
            grid-area: e;
            background-image: url(../media/tailwind_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .main > :nth-child(6){
            grid-area: f;
            background-image: url(../media/js_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .main > :nth-child(7){
            grid-area: g;
            
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .main > :nth-child(8){
            grid-area: h;
            background-image: url(../media/nodejs.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .main > :nth-child(9){
            grid-area: i;
            background-image: url(../media/jquery.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(10){
            grid-area: j;
            background-image: url(../media/angular.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        
        .sect1:hover {
            background-image: url(../media/html_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect2:hover {
            background-image: url(../media/css_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect3:hover {
            background-image: url(../media/html_ass.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect4:hover {
            background-image: url(../media/react.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect5:hover {
            background-image: url(../media/tailwind_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect6:hover {
            background-image: url(../media/js_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect7:hover {
            background-image: url(../media/react.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect8:hover {
            background-image: url(../media/nodejs.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect9:hover {
            background-image: url(../media/jquery.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect10:hover {
            background-image: url(../media/angular.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        } */
    }

    @media screen and (min-width: 1201px) {
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            --text-color: rgb(20, 20, 20);
            --hover-color: #BE3455;
        }
        
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 24px;
        }
        
        nav ul{
            list-style-type: none;
            display: flex;
        }
        
        nav li{
            padding: 10px;
            border-radius: 10px;
            margin: 4px;
        }
        
        nav a{
            margin: 10px;
            text-decoration: none;
            padding: 10px;
        }
        
        a{
            text-decoration: none;
            color: black;
        }
        
        li a:hover{
            background-color: var(--hover-color);
            color: white;
            border-radius: 10px;
            padding: 10px;
            scale: 1.05;
            transition: all 10ms linear;
        }
        
        .container{
            width: 50%;
            text-align: center;
            margin: 0 auto;
            padding: 3em;
        }
        
        .container p{
            color: rgb(115, 115, 115);
            padding: 2em;
            text-align: center;
            line-height: 2em;
        }
        .container h1{
            font-weight: bolder;
        }
        
        .btn{
            background-color: black;
            color: white;
            border: none;
            margin-top: 50px;
            padding: 1.5em 3em;
            border-radius: 1em;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .btn:hover{
            background-color: var(--hover-color);
            cursor: pointer;
            transition: all 5ms;
        }
        
        .main > *{
            background-color: #eeeeee;
            height: 60vh;
            text-align: center;
            border-radius: 1em;
        }
        
        .main {
            display: grid;
            grid-template-columns: repeat (5, 1fr);
            grid-template-rows: repeat (2, 1fr);
            gap: 1em;
            grid-template-areas: "a b c d e"
                                "f g h i j";
        }
        
        .main > :nth-child(1){
            grid-area: a;
            background-image: url(../media/html_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(2){
            grid-area: b;
            background-image: url(../media/css_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .main > :nth-child(3){
            grid-area: c;
            background-image: url(../media/html_ass.png);
            background-blend-mode: difference;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(4){
            grid-area: d;
            background-image: url(../media/react.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(5){
            grid-area: e;
            background-image: url(../media/tailwind_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(6){
            grid-area: f;
            background-image: url(../media/js_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(7){
            grid-area: g;
            
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(8){
            grid-area: h;
            background-image: url(../media/nodejs.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(9){
            grid-area: i;
            background-image: url(../media/jquery.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .main > :nth-child(10){
            grid-area: j;
            background-image: url(../media/angular.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        
        .footer{
            background-color: #e9e9e931;
            padding: 2em;
            text-align: center;
            margin: 10px;
        }
        
        .sect1:hover {
            background-image: url(../media/html_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect2:hover {
            background-image: url(../media/css_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect3:hover {
            background-image: url(../media/html_ass.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect4:hover {
            background-image: url(../media/react.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect5:hover {
            background-image: url(../media/tailwind_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect6:hover {
            background-image: url(../media/js_logo.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect7:hover {
            background-image: url(../media/react.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect8:hover {
            background-image: url(../media/nodejs.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect9:hover {
            background-image: url(../media/jquery.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
        
        .sect10:hover {
            background-image: url(../media/angular.png);
            color: transparent;
            scale: 1.02;
            cursor: pointer;
            transition: all 50ms linear;
        }
    }